USE [master]
GO
/****** Object:  Database [thanhtamluxury]    Script Date: 2/22/2019 10:05:56 PM ******/
CREATE DATABASE [thanhtamluxury]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'thanhtamluxury', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\thanhtamluxury.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'thanhtamluxury_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\thanhtamluxury_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [thanhtamluxury].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [thanhtamluxury]
GO
/****** Object:  User [ducthanh]    Script Date: 2/22/2019 10:05:57 PM ******/
CREATE USER [ducthanh] FOR LOGIN [ducthanh] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [thanhtamluxury]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 2/22/2019 10:05:57 PM ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2/22/2019 10:05:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](255) NOT NULL,
	[password] [varchar](max) NOT NULL,
 CONSTRAINT [PK__Account__F3DBC573690E62AB] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 2/22/2019 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](max) NULL,
	[email] [varchar](255) NULL,
	[name] [nvarchar](255) NOT NULL,
	[note] [nvarchar](max) NULL,
	[phone] [varchar](50) NULL,
	[isNew] [bit] NULL,
 CONSTRAINT [PK__Appointm__3213E83F258C4F80] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 2/22/2019 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [varchar](max) NULL,
 CONSTRAINT [PK__Banner__3213E83FA25FF6FA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageItem]    Script Date: 2/22/2019 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [varchar](max) NULL,
	[serviceItemId] [int] NULL,
 CONSTRAINT [PK__ImageIte__3213E83FA984C23C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2/22/2019 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](max) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](50) NULL,
 CONSTRAINT [PK__Location__3213E83FD59DA48E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceDetail]    Script Date: 2/22/2019 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[applyDate] [date] NULL,
	[price] [float] NOT NULL,
	[serviceItemId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceItem]    Script Date: 2/22/2019 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [float] NULL,
	[priceDescription] [nvarchar](max) NULL,
	[serviceType] [varchar](255) NULL,
	[shortDescription] [nvarchar](max) NULL,
	[slug] [varchar](max) NULL,
	[type] [nvarchar](255) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__ServiceI__3213E83FB06EEEB7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password]) VALUES (N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([id], [address], [email], [name], [note], [phone], [isNew]) VALUES (1, N'Gia Lai', N'thanh@gmail.com', N'Thanh', N'nothing', N'0123456789', NULL)
INSERT [dbo].[Appointment] ([id], [address], [email], [name], [note], [phone], [isNew]) VALUES (2, N'Binh Duong', N'phu@gmail.com', N'Phu', N'nothing', N'0123456789', NULL)
INSERT [dbo].[Appointment] ([id], [address], [email], [name], [note], [phone], [isNew]) VALUES (3, N'Binh Chanh', N'dat@gmail.com', N'Dat', N'nothing', N'0123456789', NULL)
SET IDENTITY_INSERT [dbo].[Appointment] OFF
ALTER TABLE [dbo].[ImageItem]  WITH CHECK ADD  CONSTRAINT [FKofohj8r2v11kfngwcb2b41bk3] FOREIGN KEY([serviceItemId])
REFERENCES [dbo].[ServiceItem] ([id])
GO
ALTER TABLE [dbo].[ImageItem] CHECK CONSTRAINT [FKofohj8r2v11kfngwcb2b41bk3]
GO
ALTER TABLE [dbo].[PriceDetail]  WITH CHECK ADD  CONSTRAINT [FK2lmyyvrb5trdhf326ux2scuua] FOREIGN KEY([serviceItemId])
REFERENCES [dbo].[ServiceItem] ([id])
GO
ALTER TABLE [dbo].[PriceDetail] CHECK CONSTRAINT [FK2lmyyvrb5trdhf326ux2scuua]
GO
USE [master]
GO
